<div class="page-header row">
<h1 class="col-md-8 page-heading"><%= t('blacklight.Web Archives for Longitudinal Knowledge') %></h1>
<ul class="nav nav-pills col-md-4">
<li><a href="https://dataverse.scholarsportal.info/dataverse/wahr">Derivative Data</a></li>
<li><a href="http://webarchives.ca/">Old Portal</a></li>
<li><a href="https://github.com/web-archive-group/WALK">GitHub</a></li>
<li><a href="/static_pages/about">About</a></li>
</ul>

</div>

<div id="getting-started">
<h2 class='section-heading'>About this Project</h2>
<p>This is the home of the Web Archives for Longitudinal Knowledge (WALK) Project, a collaborative effort by the University of Waterloo, the University of Alberta, and York University to bring Canadian Web archival partners together.</p>
</div>


<div id=id="carousel1">
<h2 class='category-heading'> <%= link_to "Historical Events", description_list_path(:keyword => "event") %> </h2>
<%= link_to image_tag('200/TORONTO_snowden_archive-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 18) %>

<%= link_to image_tag('200/ALBERTA_ottawa_shooting_october_2014-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 22) %>

<%= link_to image_tag('200/TORONTO_toronto_2015_pan_am_american_games-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 7) %>

<p style="clear: both;">

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>  Edward Snowden Archive </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Ottawa Shooting October 2014 </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/ > Toronto Pan Am Games </div>


<p style="clear: both;">
</div>
<div id="carousel2">
<h2 class='category-heading'> <%= link_to "Culture and Ethnicity", description_list_path(:keyword => "culture") %> </h2>


<%= link_to image_tag('200/WINNIPEG_truth_reconciliation-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 15) %>
<%= link_to image_tag('200/ALBERTA_heritage_community_foundation-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 1) %>
<%= link_to image_tag('200/ALBERTA_western_canadian_film-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 3) %>



<p style="clear: both;">

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Truth and Reconcilliation </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Community Heritage Foundation </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/ > Western Canadian Film </div>
</div>
<p style="clear: both;">

<div id="carousel3">

<h2 class='category-heading'> <%= link_to "Science, Technology and the Environment", description_list_path(:keyword => "science") %> </h2>

<%= link_to image_tag('200/ALBERTA_health_sciences_grey_literature-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 2) %>

<%= link_to image_tag('200/DALHOUSIE_Ransom_Myers-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 4) %>

<p style="clear: both;">

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>  Alberta Health Sciences Grey Literature </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Ransom Myers Web Archive </div>
>
<p style="clear: both;">
</div>


