<div class="page-header row">
<h1 class="col-md-8 page-heading"><%= t('blacklight.Web Archives for Longitudinal Knowledge') %></h1>
<ul class="nav nav-pills col-md-4">
<li><a href="https://dataverse.scholarsportal.info/dataverse/wahr">Derivative Data</a></li>
<li><a href="http://webarchives.ca/">Old Portal</a></li>
<li><a href="https://github.com/web-archive-group/WALK">GitHub</a></li>
<li><a href="/static_pages/about">About</a></li>
</ul>

</div>

<div id="getting-started">
<h2 class='section-heading'>About this Project</h2>
<p>This is the home of the Web Archives for Longitudinal Knowledge (WALK) Project, a collaborative effort by the University of Waterloo, the University of Alberta, and York University to bring Canadian Web archival partners together.</p>
</div>


<div id="carousel_ALBERTA">
 <h2 class='category-heading'> <%= link_to "ALBERTA", description_list_path %> </h2>

<%= link_to image_tag('200/ALBERTA_health_sciences_grey_literature-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 3) %>
<%= link_to image_tag('200/ALBERTA_heritage_community_foundation-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 4) %>
<%= link_to image_tag('200/ALBERTA_western_canadian_film-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_show_path(:id => 5) %>

<p style="clear: both;">

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>  Alberta Health Sciences Grey Literature </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Community Heritage Foundation </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/ > Western Canadian Film </div>
</div>
<p style="clear: both;">

<div id=id="carousel_CATEGORY2">
<h2 class='category-heading'> ANOTHER CATEGORY </h2>

<img class='carousel' src="example4.png" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;" />

<img class='carousel' src="example3.png" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>

<img class='carousel' src="example1.png" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>

<img class='carousel' src="example2.png" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>  Example Network File 1 </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Example Network File 2 </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/ > Example Network File 2 </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Example Network File 2 </div>

<p style="clear: both;">
</div>
<div id=id="carousel_CATEGORY2">

<h2 class='category-heading'> AND ANOTHER CATEGORY </h2>

<img class='carousel' src="example2.png" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;" />

<img class='carousel' src="example4.png" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>

<img class='carousel' src="example3.png" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>

<img class='carousel' src="example1.png" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>  Example Network File 1 </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Example Network File 2 </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/ > Example Network File 2 </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Example Network File 2 </div>
<p style="clear: both;">
</div>


