
<div class="nav nav-pills col-md-4">
<a href="https://dataverse.scholarsportal.info/dataverse/wahr">Data</a> &#9643;
<a href="http://webarchives.ca/">Old Site</a> &#9643;
<a href="https://github.com/web-archive-group/WALK">GitHub</a> &#9643;
<a href="/static_pages/about">About</a>
</div>

<div id="getting-started">
<h2 class='section-heading'>Browse Our Collection Descriptions</h2>
<p>WebArch is a searchable database of web archives collected by a growing number of Canadian Universities.</p>
</div>

<div id=id="carousel1">
<h2 class='category-heading'> <%= link_to "Historical Events", description_list_path(:keyword => "event") %> </h2>
<%= link_to image_tag('200/TORONTO_snowden_archive-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_showdescription_path(:id => 18) %>

<%= link_to image_tag('200/ALBERTA_ottawa_shooting_october_2014-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_showdescription_path(:id => 22) %>

<%= link_to image_tag('200/TORONTO_toronto_2015_pan_am_american_games-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_showdescription_path(:id => 7) %>

<p style="clear: both;">

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>  Edward Snowden Archive </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Ottawa Shooting October 2014 </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/ > Toronto Pan Am Games </div>


<p style="clear: both;">
</div>
<div id="carousel2">
<h2 class='category-heading'> <%= link_to "Culture and Ethnicity", description_list_path(:keyword => "culture") %> </h2>


<%= link_to image_tag('200/WINNIPEG_truth_reconciliation-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_showdescription_path(:id => 15) %>
<%= link_to image_tag('200/ALBERTA_heritage_community_foundation-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_showdescription_path(:id => 1) %>
<%= link_to image_tag('200/ALBERTA_western_canadian_film-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_showdescription_path(:id => 3) %>



<p style="clear: both;">

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Truth and Reconcilliation </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Community Heritage Foundation </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/ > Western Canadian Film </div>
</div>
<p style="clear: both;">

<div id="carousel3">

<h2 class='category-heading'> <%= link_to "Science, Technology and the Environment", description_list_path(:keyword => "science") %> </h2>

<%= link_to image_tag('200/ALBERTA_health_sciences_grey_literature-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_showdescription_path(:id => 2) %>

<%= link_to image_tag('200/DALHOUSIE_Ransom_Myers-200.png', style: "float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em"), description_showdescription_path(:id => 4) %>

<p style="clear: both;">

<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/>  Alberta Health Sciences Grey Literature </div>
<div class="network_text" id="CATEGORY1" style="float: left; width: 22%; margin-right: 1%; margin-bottom: 0.5em;"/> Ransom Myers Web Archive </div>
>
<p style="clear: both;">
</div>

<script>
$(function() {
$('#about a').on('click', function(e) {
e.preventDefault();
if ($('#about-content').html() == "") {
$('#about-content').load($(this).attr("href"), function() {
$('#about-content').show();
});
} else {
$('#about-content').toggle();
}
});
});
</script>


